<div class="container content-container">
	<div class="content-container">
		<div>
			<div class="row">
				<div class="span12">
					<h4>Search user repositories:</h4>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<div class="form-inline">
						<input type="text" class="span4" ng-model="username" />
						<button class="btn" ng-click="getReposForUser()">Fetch</button>
						<p class="help-inline">{{status}}</p>
						<img src="img/loader.gif" class="loader-icon" />
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span12">
				<br /><br />
				<div class="repos">
					<ul class="repos-list" ng-repeat="repo in repos">
						<li class="repos-list">
							<a ng-click="getRepoLanguagesForUser(repo.owner.login, repo.name)"><strong>{{repo.name}}</strong></a>
							<p class="repo-desc">{{repo.description}}</p>

							<!-- graph -->
							<nvd3-pie-chart
						    	data="pieChartData()"
						        id="exampleId"
						        width="550"
						        height="350"
						        x="xFunction()"
						        y="yFunction()"
						        showLabels="true">
						        <svg></svg>
						    </nvd3-pie-chart>

						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
